/*body, p, h1, h2, h3, footer
#zen-intro, #zen-summary, #zen-preamble, #design-selection
Please use at least these properties while altering the design:

font-family, color, background-color, text-align
padding, margin, width, height, top, left
display, position*/


body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin: 1vw;
}

p {
    color: #444444;
    font-weight: normal;
    margin: 1vw;
    text-align: justify;
}

h1 {
    color: #01317f;
    text-align: left;
    padding-left: 32vw;
    font-weight: 822;
}

h2 {
    color:#004fce;
    text-align: left;
    padding-left: 33vw;
}